i[class^=icon]{
    display: inline-block;
    background-color: $color-main;
    border-radius: 100px;
    background-repeat: no-repeat;
}

//导航菜单
.icon-w-44{ width: 44px; height: 44px;}
.icon-help{background-image: url(~@/assets/images/icon-help.png);}
.icon-seach{background-image: url(~@/assets/images/icon-seach.png);}
.icon-location{background-image: url(~@/assets/images/icon-location.png);}
.icon-user{background-image: url(~@/assets/images/icon-user.png);}

//会员中心
.icon-w-35{ width: 35px; height: 35px;}
.icon-account{background-image: url(~@/assets/images/icon-account.png);}
.icon-authentication{background-image: url(~@/assets/images/icon-authentication.png);}
.icon-Help-center{background-image: url(~@/assets/images/icon-Help-center.png);}
.icon-order{background-image: url(~@/assets/images/icon-order.png);}
.icon-setup{background-image: url(~@/assets/images/icon-setup.png);}
