@import "./reset.scss";
@import "./sassConfig.scss";
@import "./icon.scss";



.color-main{color:#34393f}
.text-left{text-align: left}
.text-center{text-align: center}
.text-right{text-align: right}


.pull-left{float: left;}
.pull-right{float: right;}

// font-size

.fs-14{font-size: 14px;}
.fs-24{font-size: 24px;}

//相对定位、绝对定位
.p-r{position: relative;}
.p-a{position: relative;}