@import "./reset.scss";
@import "./sassConfig.scss";
@import "./icon.scss";



.color-main{color:#34393f}
.text-left{text-align: left}
.text-center{text-align: center}
.text-right{text-align: right}


.pull-left{float: left;}
.pull-right{float: right;}

// font-size

.fs-14{font-size: 14px;}
.fs-24{font-size: 24px;}

//相对定位、绝对定位
.p-r{position: relative;}
.p-a{position: relative;}


//user router-link
.group-links{
    font-size: 14px;
    a{
        display: block;
        padding: 0 32px;
        margin: 0 -30px;
        color: rgba(255,255,255,.4);
        border-bottom: 1px solid rgba(255,255,255,.03);
        height: 64px;
        line-height: 64px;
    }
    .icon{
        vertical-align: middle;
        margin:  0 16px 0px 0px;
    }
}