.cars-item {
    margin: 0 auto;
    height: 258px;
    padding: 30px 30px 0px 30px;
    background-color: #ffffff;
    border-radius: 24px;
    @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, .2));
    @include webkit(box-sizing, border-box);

    header {
        @include clearfix;
    }
}

.cars-logo {
    float: left;

    img {
        display: inline-block;
        height: 34px;
        vertical-align: middle;
        margin-right: 10px;
    }

    span {
        font-size: 16px;
    }
}

.cars-attr {
    float: right;
    opacity: 0.5;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}

.cars-content {
    margin: 11px 0px 7px;
    @include clearfix;
    position: relative;

    img {
        float: right;
        height: 120px;
    }

    .info {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .cars-number {
        font-size: 18px;
    }

    .cars-electric {
        padding-top: 10px;
        display: inline-block;

        li {
            display: inline-block;
            width: 7px;
            height: 24px;
            border-radius: 100px;
            background-color: #e1e1e1;
            margin-right: 3px;
        }

        .active {
            @include webkitA(background, linear-gradient(#17a8fa, #108dd9));
        }
    }
}

.distance {
    display: inline-block;
    padding-left: 5px;

    sub {
        font-size: 12px;
        padding: 0 4px;
        opacity: 0.5;
    }

    span {
        font-size: 22px;
        font-weight: 200;
    }
}

.parking-link {
    display: block;
    line-height: 53px;
    width: 100%;
    font-size: 14px;
    color: $color-main;
    border-top: 1px solid #e1e1e1;
    opacity: .8;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 8px;
        height: 8px;
        margin-top: -8px;
        border-top: 1px solid #d6d7d9;
        border-right: 1px solid #d6d7d9;
        @include webkit(transform, rotate(45deg))
    }
}

.cars-detailed {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    .scroll{overflow-y: auto; height: 100%;}
    .column {
        position: relative;
        font-size: 18px;
        color: #34393f;
        border-bottom: 1px solid #e1e1e1;
        padding: 26px 0px 20px 0px;
        margin-bottom: 20px;
        .close {
            position: absolute;
            display: block;
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            right: 0px;
            top: 23px;
            color: #999c9f;
        }
    }

    .cars-model {
        img {
            width: 100%;
        }
    }

    .cars-number {
        @include clearfix;
        margin: 10px 0px;
    }

    .cars-electric-box {
        padding: 15px;
        border-radius: 10px;
        margin: 17px 0px 10px 0px;
        background-color: #fff;
        position: relative;
        @include webkit(box-shadow, 0 0 10px rgba(0, 0, 0, .1));
        .e-bg {
            display: block;
            height: 8px;
            background-color: #e1e1e1;
            border-radius: 10px;
            @include webkit(box-shadow, 0 0 10px rgba(0, 0, 0, .1));
        }
        .e-high{
            position: absolute;
            width:70%;
            left: 15px;
            top: 15px;
            height: 8px;
            background-color: $color-blur;
            border-radius: 10px;
            @include webkit(box-shadow, 0 0 10px rgba(0, 0, 0, .1));
        }
    }
    .info{
        margin: 28px 0px 27px 0px;
    }
}
.cars-type-list{
    li{
        display: block;
        height: 43px;
        line-height: 43px;
        background-color: #f3f3f3;
        border:solid 2px #f3f3f3;
        margin: 10px 0px;
        padding: 0 10px;
        border-radius: 10px;
        font-size: 16px;
        @include webkit(transform,all .3s ease 0s);
        &.cursor{
            border:solid 2px $color-blur;
        }
    }
}
.claus-dec{
    margin-top: 18px;
    @include clearfix;
    i{
        width: 20px;
        float: right;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: #ffffff;
        border-radius: 100px;
        background-color: #cccccc;
        &.cursor{
            background-color: #000;
        }
    }
}


.select-cat-btn {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    bottom: -48px;
    display: block;
    width: 240px;
    height: 84px;
    line-height: 84px;
    border-radius: 50px;
    text-align: center;
    background-color: $color-main;
    color: #ffffff;
    font-weight: 300;
    font-size: 26px;

    cursor: pointer;
  }